/* Button */

button.main-button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline-style: none;
  transition: all .3s;
  margin-top:5px;
  background: #19798a;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}

button.main-button:hover {
  background: #19798ada;
  box-shadow: 0 0 5px 0 #4e7e62;
}

button.main-button:active{
  background: rgb(96, 173, 77);
  color: whitesmoke;
  transition: all .1s ;
}